.color {
  width: 30px;
  height: 30px;
  display: inline-block;
}

#color-palette {
  margin-bottom: 10px;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.pixel {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
}
